* {
   box-sizing: border-box;
}

body {
   font-family: sans-serif;
}

.container {
   width: 800px;
   border: 2px solid black;
   margin: 0 auto;
}

.display {
   padding: 0 3%;
   background-color: rgb(27, 180, 180);
}

.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 30px;
   margin-top: 20px;
}

.flex-container-column {
   display: flex;
   flex-direction: column;
   max-width: 800px;
   margin: 0 auto;
   text-align: right;
}

.flex-container-row {
   display: flex;
   flex-direction: row;
   flex-grow: 1;
}

.button {
   flex-basis: 25%;
   background-color: cornflowerblue;
   border: 2px solid black;
   padding: 40px;
   text-align: center;
   color: white;
   font-size: 1.5em;
   cursor: pointer;
}

.button:hover {
   font-weight: bold;
}

.double {
   flex-basis: 50%;
}

.operator,
.negative,
.equals {
   background: orange;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
   width: 100%;
   border: 1px solid #ddd;
}

th,
td {
   text-align: center;
   padding: 16px;
}

th {
   background-color: orange;
   color: white;
}

tr:nth-child(even) {
   background-color: #d2d2d2;
}

.card-header h2 {
   float: left;
}

.card-header button {
   float: right;
   align-items: center;
   margin-top: 3%;
   background-color: rgb(241, 57, 57);
   border: 1px solid rgba(163, 163, 163, 0.541);
   border-radius: 5px;
   color: white;
   padding: 1.5%;
   cursor: pointer;
}

.history {
   width: 80%;
   margin: 30px auto 0 auto;
   overflow: auto;
}

@media screen and (max-width: 772px) {
   .button {
      padding: 10px;
   }
   * {
      max-width: 100%;
   }

   .history {
      width: 100%;
   }
}
